<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <!-- <h2>Team Name: <%=name%></h2> -->
<<<<<<< HEAD
=======
   <h2>Bballers</h2>
>>>>>>> f5094a18c63e6eeb960acd4e0ec983cc0adf21de
   <!-- <h2><%= name %></h2> -->


 </body>
</html>
